<div class="row">
    <button [routerLink]="['/']" [queryParams]="{}" mat-button class="menu-button">
        <mat-icon>arrow_back</mat-icon>
        
    </button>
</div>
<div class="row">
    <div class="col-md-8">
        <img [src]="product?.filename">
    </div>
    <div class="col-md-4">
        <h3>{{product?.title}}</h3><br/>
        <p>
            {{product?.description}}
        </p>
    </div>
</div>