.jdlength {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  input {
    width: 100%;
    height: 40px;
    border: solid 1px #8c9a93;
    background-color: #ffffff;
    font-size: 15px;
  }
  .addform{
    width: 542px;
    max-width: 98%;
    margin: 0 auto;
    margin-top: 50px;  
  }

  .addform .mat-form-field{
    width: 100%;
  }