<div class="">
  <h4>Add Item Here</h4>
  <form [formGroup]="itemForm" #formDirective="ngForm">
    <div class="row p-2 addform">
      <div class="col-md-12 pl-0">
        <mat-form-field
          [floatLabel]="'never'"
          class="mat-form-field"
          appearance="none"
        >
          <label>Title<sup>*</sup></label>
          <input
            matInput
            #titleCtrl
            class="form-control"
            maxlength="50"
            required
            type="text"
            formControlName="titleCtrl"
          />
          <span class="jdlength">
            <div>
              <small
                class="pull-right"
                style="
                  margin-top: 20px;
                  padding-right: 5px;
                  font-size: 10px;
                "
                >{{ titleCtrl.value.length }} / 50
              </small>
            </div>
          </span>
          <mat-error
          *ngIf="hasError('descCtrl', 'required')"
            class="mt-1"
          >
          title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 pl-0">
        <mat-form-field
          [floatLabel]="'never'"
          class="mat-form-field"
          appearance="none"
        >
          <label>Description<sup>*</sup></label>
          <input
            matInput
            #descCtrl
            class="form-control"
            maxlength="150"
            required
            type="text"
            formControlName="descCtrl"
          />
          <span class="jdlength">
            <div>
              <small
                class="pull-right"
                style="
                  margin-top: 20px;
                  padding-right: 5px;
                  font-size: 10px;
                "
                >{{ descCtrl.value.length }} / 150
              </small>
            </div>
          </span>
          <mat-error
          *ngIf="hasError('descCtrl', 'required')"
            class="mt-1"
          >
            Description is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 pl-0">
        <mat-form-field
          [floatLabel]="'never'"
          class="mat-form-field"
          appearance="none"
        >
          <label>Type<sup>*</sup></label>
          <input
            matInput
            #typeCtrl
            class="form-control"
            required
            type="text"
            formControlName="typeCtrl"
          />
          <mat-error
          *ngIf="hasError('typeCtrl', 'required')"
            class="mt-1"
          >
            Type is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 pl-0">
        <mat-form-field
          [floatLabel]="'never'"
          class="mat-form-field"
          appearance="none"
        >
          <label>Price<sup>*</sup></label>
          <input
            matInput
            #priceCtrl
            class="form-control"
            required
            type="number"
            formControlName="priceCtrl"
          />
          <mat-error
          *ngIf="hasError('priceCtrl', 'required')"
            class="mt-1"
          >
            Price is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 pl-0">
        <mat-form-field
          [floatLabel]="'never'"
          class="mat-form-field"
          appearance="none"
        >
          <label>Image Url<sup>*</sup></label>
          <input
            matInput
            #urlCtrl
            class="form-control"
            required
            type="text"
            formControlName="urlCtrl"
          />
          <mat-error
          *ngIf="hasError('urlCtrl', 'required')"
            class="mt-1"
          >
            Image URL is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 pl-0">
        <button type="submit" mat-flat-button color="primary" [disabled]="!itemForm.valid" (click)="save(formDirective)">Add</button>
      </div>
    </div>
    <!-- <p>
      <label>
    Title:
    <input type="text" formControlName="titleCtrl">
      <div *ngIf="hasError('titleCtrl', 'required')">
      Title is required.
      </div>
  </label>
    </p>
    <p>
      <label>
    Type  :
    <input type="text" formControlName="typeCtrl">
      <div *ngIf="hasError('typeCtrl', 'required')">
      Type is required.
      </div>
  </label>
    </p>
      <p>
      <label>
    Description  :
    <textarea formControlName="descCtrl" ></textarea>
      <div *ngIf="hasError('descCtrl', 'required')">
      Description is required.
      </div>
  </label>
    </p>
      <p>
      <label>
    Price  :
    <input type="number" formControlName="priceCtrl">
      <div *ngIf="hasError('priceCtrl', 'required')">
      Price is required.
      </div>
  </label>
    </p> -->
    <!-- <button [disabled]="!itemForm.valid" (click)="save()">Save</button> -->
  </form>
</div>