<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button  (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        menu
      </mat-icon>
  </button>
  Product Management
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">


      <button mat-button class="menu-button" [routerLink]="['/']">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/trash']">
          <mat-icon>delete</mat-icon>
          <span>Trash</span>
      </button>
      <!-- <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button> -->

      <mat-divider></mat-divider>



  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
      <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>