mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #053c7a;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    overflow: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */

    /* font-size: 2rem; */
    color: gray;
    justify-content: center;
    overflow-x: hidden;
}



.content::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .content::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .content::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .content::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}