<div class="container  mt-4">
    <div class="row mt-4">
        <div class="row">
            <div class="col-md-6 pull-left">
                <span class="level">
                    <a [routerLink]="[ '/' ]">Level1</a>
                <mat-icon style="font-size: 12px;">chevron_right</mat-icon>
                <a>Level2</a>
                </span>
            </div>
            <div class="col-md-6">
                <!-- <input [(ngModel)]="userSearch" 
                 name="userSearch" id="userSearchs"
                (ngModelChange)="this.userSearchUpdate.next($event)" class="col-md-6 form-control mr-md-2 form-control-md mr-3 w-75" type="text" placeholder="Search" /> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div *ngIf="count == 0">
                        No products to display
                    </div>
                    <div *ngFor="let item of products; let i = index" class=" e-card">

                        <mat-card class="col-md-4" *ngIf="item?.available == false">
                            <mat-card-header class="text-oneline">
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <mat-card-title>{{item.title}}</mat-card-title>
                                <mat-card-subtitle>{{item.price | currency:'USD'}}</mat-card-subtitle>
                              </mat-card-header>
                            <img mat-card-image [src]=item.filename >
                            <mat-card-actions>
                                <button mat-button (click)="remove(i)">Remove</button>
                                <button mat-button (click)="restore(i)">Restore</button>
                              </mat-card-actions>
                        </mat-card>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
