<div class="container  mt-4">
    <div class="container">
        <div class="col-md-6 pull-left">
            <span class="level">
                <a [routerLink]="[ '/' ]">Level1</a>
            <mat-icon style="font-size: 12px;">chevron_right</mat-icon>
            <a>Level2</a>
            </span>
        </div>
        <div class="col-md-6">
            <input [(ngModel)]="userSearch" 
             name="userSearch" id="userSearchs"
            (ngModelChange)="this.userSearchUpdate.next($event)" class="col-md-6 form-control mr-md-2 form-control-md mr-3 w-75" type="text" placeholder="Search" />
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        
            <div class="col-md-3" style="margin-left: 30px;">
                
                <div class="">
                    <div>
                        <h4>Filters:</h4>
                    </div>
                    <div>

                        <input type="checkbox" [(ngModel)]="fruit" (change)="filterData()" > Fruit
                    </div>
                    <div>

                        <input type="checkbox" [(ngModel)]="bakery" (change)="filterData()" > Bakery
                    </div>
                    
                    
                    <hr/>
                    <div>

                        <input type="checkbox" [(ngModel)]="isAvailable" (change)="notAvailable = !isAvailable"> Available
                    </div>
                    
                    <div>

                        <input type="checkbox" [(ngModel)]="notAvailable" (change)="isAvailable = !notAvailable"> Not Available
                    </div>
                    
                    <hr/>
                    
                </div>
            </div>
            <div class="col-md-8">    
                <div *ngFor="let item of products; let i = index" class=" e-card">

                    <mat-card class="col-md-4" *ngIf="item?.available == isAvailable">
                        <mat-card-header class="text-oneline">
                            <!-- <div mat-card-avatar class="example-header-image"></div> -->
                            <mat-card-title>{{item.title}}</mat-card-title>
                            <mat-card-subtitle>{{item.price | currency:'USD'}}</mat-card-subtitle>
                            </mat-card-header>
                        <img mat-card-image [src]=item.filename [routerLink]="['/detail']" [queryParams]="{index:i}">
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button (click)="moveToTrash(i)">Trash</button>
                            </mat-card-actions>
                    </mat-card>
                </div>
            </div>        
        <div class="fab-button-add">    
            <button mat-fab color="primary" [routerLink]="['/add']" aria-label="Example icon button with a delete icon">
                <mat-icon>add</mat-icon>
              </button>
        </div>
    </div>
</div>
