.e-card{
    cursor: pointer;
}
.e-card mat-card{
    margin-bottom: 10px ;
}
.level{
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
}
.text-oneline ::ng-deep * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .fab-button-add {
    position: fixed;
    right: 40px;
    bottom: 40px;
}


.mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    height: 300px;
    padding: 10px;
}